.chat-main
  .chat-main__group-info
    .chat-main__group-info__overview
      .chat-main__group-info__overview__name
        hoge
      .chat-main__group-info__overview__member
        Member : hoge
    .chat-main__group-info__edit
      = link_to "Edit", "#",  class: "chat-main__group-info__edit__btn" 
  .chat-main__message-list
    .chat-main__message-list__person
      .chat-main__message-list__person__name
        hoge
      .chat-main__message-list__person__date
        2020/03/28(Sat) 11:38:33
    .chat-main__message-list__message
      hoge
    .chat-main__message-list__person
      .chat-main__message-list__person__name
        hoge
      .chat-main__message-list__person__date
        2020/03/28(Sat) 11:38:33
    .chat-main__message-list__message
      hoge
    .chat-main__message-list__person
      .chat-main__message-list__person__name
        hoge
      .chat-main__message-list__person__date
        2020/03/28(Sat) 11:38:33
    .chat-main__message-list__message
      hoge
    .chat-main__message-list__person
      .chat-main__message-list__person__name
        hoge
      .chat-main__message-list__person__date
        2020/03/28(Sat) 11:38:33
    .chat-main__message-list__message
      hoge
    .chat-main__message-list__person
      .chat-main__message-list__person__name
        hoge
      .chat-main__message-list__person__date
        2020/03/28(Sat) 11:38:33
    .chat-main__message-list__message
      hoge
    .chat-main__message-list__person
      .chat-main__message-list__person__name
        hoge
      .chat-main__message-list__person__date
        2020/03/28(Sat) 11:38:33
  .chat-main__message-form
    .chat-main__message-form__input-box 
      %input.chat-main__message-form__input-box__text{ type: "text", placeholder: "type a message" }
      %label.chat-main__message-form__input-box__image
        = icon('fas', 'image', class: " .chat-main__message-form__input-box__image__icon")
        %input.chat-main__message-form__input-box__image__btn{type: "file"}
    .chat-main__message-form__submit-box
      %input.chat-main__message-form__submit-box__btn{type: "submit", value: "Send" }
      

